body,
h1 {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.black-body {
  background-color: #222831;
  color: #eeeeee;
}

.yellow-body {
  background-color: #ffd369;
  color: #222831;
}

.white-body {
  background-color: #eeeeee;
  color: #222831;
}

/* elements */

span {
  color: #ffd369;
}

li {
  list-style: decimal;
}

/* classses */
.profile-photo {
  border-radius: 50%;
}

.institution-logo {
  border-radius: 10%;
}

.btn-yellow {
  background-color: #ffd369;
}
